<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Sample App</a>
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <% if signed_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <% end %>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <% if signed_in? %>
            <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
      <!--form action="" class="pull-right">
                 <input class="input-small" type="text" placeholder="Username">
                 <input class="input-small" type="password" placeholder="Password">
                 <!--button class="btn" type="submit">Sign in</button>
               </form-->
    </div>
  </div>
</div>